{:port 8082
 :build :dev
 :version 0.01
 :date "not now"
 :twitter
 {:credentials
  {:consumer-key "wQ1jVJPRrmj5zb1Xpr0VjToYf"
   :consumer-secret "PjwGeITzGvELnfTKuVdgpCJp29QXGcpuUu3AhQZPrnomOUYrqw"
   :access-token "2552274109-jm5mLYjJgvMMKmXQKrq811APqwSpB97pJNAuVre"
   :access-token-secret "vQSfK9AVZqkekpVmlpWjcqpSw3nI9HGW1N12t7Y3Y0HHl"}
 :follow [114508061 18016521 5734902 40227292 2834511 9204502 15071293 19232587 15243812 8720562 1101354170 15738602 18774524 5494392]
  :track ["@FAZ_NET" "www.faz.net"
          "@tagesschau" "www.tagesschau.de"
          "@dpa"
          "@SZ" "www.sz.de" "http://sz.de" "www.sueddeutsche.de"
          "@SPIEGELONLINE" "http://spon.de" "www.spiegel.de"
          "@BILD" "www.bild.de"
          "@DerWesten" "derwesten.de"
          "@ntvde" "www.n-tv.de" "n-tv.io"
          "@tazgezwitscher" "www.taz.de"
          "@welt" "on.welt.de" "www.welt.de"
          "@ZDFheute" "www.heute.de"
          "@N24_de" "www.n24.de" "l.n24.de"
          "@sternde" "stern.de"
          "@focusonline" "www.focus.de"]}}
